In [2]:
import pandas as pd
df = pd.read_csv('GoogleApps.csv')

In [3]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7352 entries, 0 to 7351
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             7352 non-null   object
 1   Category        7352 non-null   object
 2   Rating          7352 non-null   float64
 3   Reviews         7352 non-null   int64
 4   Size            7352 non-null   float64
 5   Installs        7352 non-null   float64
 6   Type            7352 non-null   object
 7   Price           7352 non-null   float64
 8   Content Rating  7352 non-null   object
 9   Last Updated    7352 non-null   object
 10  Current Ver     7352 non-null   object
 11  Android Ver     7352 non-null   object
dtypes: float64(4), int64(1), object(7)
memory usage: 689.4+ KB
None

In [4]:
df.describe()

            Rating       Reviews         Size      Installs        Price
count  7352.000000  7.352000e+03  7352.000000  7.352000e+03  7352.000000
mean      4.177775  3.034096e+05    22.769578  8.662313e+06     1.171476
std       0.544145  1.907619e+06    23.379472  5.132294e+07    17.835302
min       1.000000  1.000000e+00     0.008301  1.000000e+00     0.000000
25%       4.000000  1.017500e+02     5.100000  1.000000e+04     0.000000
50%       4.300000  2.212500e+03    14.000000  1.000000e+05     0.000000
75%       4.500000  3.860625e+04    33.000000  1.000000e+06     0.000000
max       5.000000  4.489389e+07   100.000000  1.000000e+09   400.000000

In [8]:
df[(df['Price']> 20) & (df['Installs'] > 10000)]['Rating'].mean()

4.25

In [9]:
df['Category'].value_counts()

Category
FAMILY                 1574
GAME                    911
TOOLS                   631
MEDICAL                 318
LIFESTYLE               275
PERSONALIZATION         270
FINANCE                 266
BUSINESS                246
SPORTS                  245
PRODUCTIVITY            234
PHOTOGRAPHY             231
HEALTH_AND_FITNESS      216
COMMUNICATION           206
SHOPPING                176
NEWS_AND_MAGAZINES      162
TRAVEL_AND_LOCAL        159
SOCIAL                  142
BOOKS_AND_REFERENCE     142
VIDEO_PLAYERS           114
EDUCATION               108
MAPS_AND_NAVIGATION      94
FOOD_AND_DRINK           84
ENTERTAINMENT            84
AUTO_AND_VEHICLES        63
LIBRARIES_AND_DEMO       61
ART_AND_DESIGN           58
HOUSE_AND_HOME           56
WEATHER                  51
PARENTING                43
COMICS                   42
EVENTS                   38
BEAUTY                   36
DATING                   16
Name: count, dtype: int64

In [12]:
ten = df['Content Rating'].value_counts()
print(round(ten['Teen'] / ten['Everyone 10+'], 2))

2.73

In [20]:
pad =round(df[df['Type'] == 'Paid']['Rating'].mean(),2)
fre = round(df[df['Type'] == 'Free']['Rating'].mean(),2)
print(round(pad - fre,2))

0.08

In [24]:
round(df[df['Category'] == 'COMICS']['Size'].min(),2)

0.43

In [26]:
df[(df['Category'] == 'FINANCE')&(df['Rating'] > 4.5)].value_counts()

App                                             Category  Rating  Reviews  Size       Installs   Type  Price  Content Rating  Last Updated       Current Ver  Android Ver
AX Battery Saver                                FINANCE   4.6     4546     3.000000   100000.0   Free  0.0    Everyone        February 8, 2018   1.2.3        4.0 and up      1
Alpha Bank CY                                   FINANCE   4.7     39       20.000000  1000.0     Free  0.0    Everyone        March 20, 2018     1.11         4.3 and up      1
Everlance: Free Mileage Log                     FINANCE   4.7     7514     14.000000  100000.0   Free  0.0    Everyone        July 31, 2018      1.9.9.9.3    4.4 and up      1
Exchange Bank - EB Mobile                       FINANCE   4.6     8        31.000000  1000.0     Free  0.0    Everyone        May 2, 2018        18.1.79      5.0 and up      1
Experian - Free Credit Report                   FINANCE   4.6     23130    46.000000  1000000.0  Free  0.0    Everyone        July 12, 2018      2.1.4        4.2 and up      1
                                                                                                                                                                             ..
DN Calculators                                  FINANCE   5.0     12       0.756836   100.0      Free  0.0    Everyone        September 5, 2013  1.11         3.0 and up      1
Discover Mobile                                 FINANCE   4.6     87951    68.000000  5000000.0  Free  0.0    Everyone        July 23, 2018      9.7.0        4.1 and up      1
EC Tax                                          FINANCE   4.9     8        3.100000   500.0      Free  0.0    Everyone        February 9, 2018   1.2          4.0.3 and up    1
EMI Calculator | FD Calculator | RD calculator  FINANCE   4.6     106      4.400000   10000.0    Free  0.0    Everyone        March 19, 2018     5.3          4.0.3 and up    1
dt Pro                                          FINANCE   4.8     4        4.500000   1000.0     Free  0.0    Everyone        May 16, 2017       3.10         2.2 and up      1
Name: count, Length: 64, dtype: int64

In [59]:
round(df.groupby(by= 'Type')['Rating'].agg(['min','mean','max']),2)

      min  mean  max
Type
Free  1.0  4.17  5.0
Paid  1.0  4.25  5.0

In [60]:
df.groupby(by='Content Rating')['Price'].agg(['min','mean','max'])

                min      mean     max
Content Rating
Everyone        0.0  1.273454  400.00
Everyone 10+    0.0  0.439371   19.99
Teen            0.0  0.715265  399.99